extends layout 

block content 
  h1 Log in
  form(action='/log-in' method='POST')
    div
      label(for='username') Email 
      input#username(type='text' name='username' value=(username===undefined ? '' : username))
      if errors 
        for error in errors 
          if error.path == 'username'
            span= error.msg
    div 
      label(for='password') Password 
      input#password(type='password' name='password' value=(password===undefined ? '' : password))
      if errors 
        for error in errors 
          if error.path == 'password'
            span= error.msg
    button(type='submit') Log in 

  if failureMessage
    p #{failureMessage}