extends layout 

block content 
  h1 Log in
  form(action='/log-in' method='POST')
    div
      label(for='username') Email 
      input#username(type='text' name='username' value=(username===undefined ? '' : username))
    div 
      label(for='password') Password 
      input#password(type='password' name='password' value=(password===undefined ? '' : password))
    button(type='submit') Log in 

  if errors 
    ul 
      for error in errors 
        li!= error.msg

  if failureMessage
    p #{failureMessage}