extends layout 

block content
  h1 Become a member 
  p Enter the secret password to gain member status
  p Hint: a popular Japanese dish consisting of mainly fish and rice and assembled into bite-size pieces
  form.input-form(action='' method='POST')
    div 
      label(for='member_password') Password 
      input#member_password(type='password' name='member_password' value=(member_pass===undefined ? '' : member_pass))
      if errors 
        for error in errors 
          if error.path == 'member_password'
            span= error.msg
    button.form-bottom(type='submit') Submit 