body {
  padding: 50px;
  font:
    14px 'Lucida Grande',
    Helvetica,
    Arial,
    sans-serif;
}

a {
  color: #8400ff;
}

textarea {
  font-family: inherit;
}

.delete {
  padding: 0;
}

.delete img {
  width: 20px;
  vertical-align: middle;
}
